<section class="intro">
		<div class="inner">
		  <div class="content">
			<h1>
			  <span class="bounce-in">Hi! </span>
			  <span class="bounce-in">I'm </span>
			  <span class="bounce-in">Brooklyn</span>
			</h1>
			<h2>I Love to Game!</h2>
			<p>That's right! I
			  <span class="fa fa-heart"></span> to play video games, so I put together a few random games made out of pure HTML5, CSS and JavaScript. They're fun and easy, so what are you waiting for?</p>
			<div>
			  <a href="/play" class="intro-btn">Play Now</a>
			</div>
		  </div>
		</div>
	  </section>